<h2>タスク作成画面</h2>
<%= form_with(model: @task, local: true) do |f| %>

  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "個のエラーがあります") %></h2>
        <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </h2>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :タスク名 %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :タスク詳細 %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :優先度 %>
    <%= f.select :priority, Task.priorities.keys, { 高:'高', 中:'中', 低:'低' } %>
  </div>

  <div class="field">
    <%= f.label :状態 %>
    <%= f.select :status, [["未着手"],["着手中"],["完了"]], include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :終了期限 %>
    <%= f.date_field :deadline %>
  </div>

  <%= f.submit "タスクを登録する" %>
<% end %>

<%= link_to 'タスク一覧へ', tasks_path %>
