<div class="form">
  <h2>新規アカウント作成</h2>
  <%= form_with(model: @user, local: true) do |f| %>

    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "個のエラーがあります") %></h2>
          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li>・<%= message %></li>
          <% end %>
          </ul>
        </h2>
      </div>
    <% end %>

    <div class="user_form">
      <div class="field">
        <%= f.label :名前 %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :メールアドレス %>
        <%= f.email_field :email %>
      </div>
      <div class="field">
        <%= f.label :パスワード %>
        <%= f.password_field :password %>
      </div>
      <div class="field">
        <%= f.label :パスワード再確認 %>
        <%= f.password_field :password_confirmation %>
      </div>
    </div>

    <%= f.submit "アカウントを作成する" %>
  <% end %>
</div>